#header {
  width: 100%;
  height: 50px;
  background-color: $mainColor;
  margin-bottom: 50px;

  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    padding-right: 20px;

    .nav-item {
      font-size: 22px;
      height: 100%;
      cursor: pointer;

      &:first-child {
        margin-left: 15px;
      }

      &.nav-item-login {
        margin-right: 0;
        margin-left: auto;
      }

      &:hover {
        background-color: lighten($color: $mainColor, $amount: 10);
      }

      .nav-link {
        height: 100%;
        padding: 0 10px;
        display: flex;
        align-items: center;
        color: darken($color: $white, $amount: 40);
        text-decoration: none;

        &.active {
          color: $white;
        }
      }
    }
  }
}

@media only screen and (max-width: 460px) {
  #header {
    .nav-menu {
      justify-content: space-between;
      padding: 0 10px;

      .nav-item {
        margin: 0;

        &.nav-item-login {
          margin: 0;
        }
      }
    }
  }
}
